<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HERMANO</title>
</head>
<body>
    BIENVENIDOS AL DESAFIO entregable


    <p  style="color:blueviolet">Mi hermano es: {{Nombre}}          </p>
    <p  style="color:greenyellow">Su edad es de: {{Edad}}          </p>
    <p  style="color:royalblue">Nacio el: {{Nacimiento}}          </p>
</body>
</html>